# Variables d'environnement (AlwaysData : Administration > Environnement / ou .htaccess SetEnv)
DB_HOST=postgresql-moncompte.alwaysdata.net
DB_PORT=5432
DB_NAME=moncompte_leitner
DB_USER=moncompte
DB_PASSWORD=change-me
# Mot de passe de l'application : hash généré par  php -r 'echo password_hash("monmotdepasse", PASSWORD_DEFAULT);'
APP_PASSWORD_HASH=
